In [2]:
import pandas as pd

In [3]:
ratings_file = "ratings.csv"

ratings_df = pd.read_csv(ratings_file)
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.8      1520
1  tt0000002            6.3       185
2  tt0000003            6.6      1165
3  tt0000004            6.3       113
4  tt0000005            6.2      1874

In [4]:
ratings_df_clean = ratings_df.loc[ratings_df['averageRating'] != 'NaN']

C:\Users\cgilb\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [5]:
title_file = "titles.tsv"

title_df = pd.read_csv(title_file, sep='\t', low_memory=False)
title_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
title_df.titleType.unique()

array(['short', 'movie', 'tvMovie', 'tvSeries', 'tvEpisode', 'tvShort',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

In [7]:
title_df_movie = title_df.loc[title_df['titleType'] == 'movie']

title_df_movie.titleType.unique()

array(['movie'], dtype=object)

In [8]:
title_df_clean = title_df_movie.drop(['titleType', 'originalTitle', 'isAdult', 'endYear', 'genres'], axis=1)
title_df_clean.head()

        tconst                   primaryTitle startYear runtimeMinutes
8    tt0000009                     Miss Jerry      1894             45
145  tt0000147  The Corbett-Fitzsimmons Fight      1897             20
332  tt0000335          Soldiers of the Cross      1900             \N
499  tt0000502                       Bohemios      1905            100
571  tt0000574    The Story of the Kelly Gang      1906             70

In [9]:
imdb_df = pd.merge(ratings_df_clean, title_df_clean, on='tconst', how='right')

In [10]:
imdb_df_clean = imdb_df.dropna()
imdb_df_clean.tail()

,tconst,averageRating,numVotes,primaryTitle,startYear,runtimeMinutes
235961,tt9913084,6.2,6.0,Diabolik sono io,2019,75
235962,tt9914286,8.7,139.0,Sokagin Çocuklari,2019,98
235963,tt9914642,8.2,12.0,Albatross,2017,\N
235964,tt9914942,7.0,7.0,La vida sense la Sara Amat,2019,\N
235965,tt9916160,6.6,14.0,Drømmeland,2019,72

In [11]:
imdb_df_clean.to_csv("imdb_db.csv", mode='w')