In [2]:
#import dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser

In [ ]:
#set up splinter to use Chrome
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

In [ ]:
#visit metacritic page with splinter
url = 'https://www.metacritic.com/browse/movies/score/metascore/all/filtered'
browser.visit(url)

In [ ]:
#use Beautiful Soup to collect titles

years = []
movie_titles = []
metacritic_rating = []

for x in range(1, 11):

    html = browser.html
    soup = bs(html, 'html.parser')
    stuff = soup.find_all('div', class_="clamp-details")
    print(f' this is all of the results from page({x})')
    movie_page = soup.find_all('h3')
    perfect_score = soup.find_all('div', class_ = "metascore_w large movie positive perfect")
    good_score = soup.find_all('div', class_ = "metascore_w large movie positive")
    
    for movie in perfect_score:
        metacritic_rating.append(movie.text)
    for movie in good_score:
        metacritic_rating.append(movie.text)
    for x in range(0,100):
        
        thing = stuff[x].find_all('span')[1].text[-4:]
        years.append(thing)
        movie_titles.append(movie_page[x].text)
        print(movie_page[x].text)
        print(thing)
        print(metacritic_rating[x])

    browser.click_link_by_partial_text('next')

In [ ]:
years_df = pd.DataFrame(years,movie_titles)
rating_df = pd.DataFrame(metacritic_rating)

In [ ]:
years_df = years_df.reset_index(drop=False)
rating_df = pd.DataFrame(metacritic_rating)

In [ ]:
years_df.head()
rating_df.head()

In [ ]:
combined_df = pd.merge(years_df, rating_df, left_index=True, right_index=True)
combined_df.head()

In [ ]:
combined_df.columns = ['Title','Year','Metacritic Rating']
combined_df.head()

In [ ]:
combined_df = combined_df.loc[combined_df['Year'] != 'TBA']

In [9]:
combined_df = pd.read_csv('Year_Released Title and Metacritic Rating.csv')
combined_df.head()

           Title  Year  Metacritic Rating
0   Citizen Kane  1941                100
1  The Godfather  1972                100
2    Rear Window  1954                100
3     Casablanca  1943                100
4        Boyhood  2014                100

In [10]:
combined_df['Netflix'] = ''
combined_df['Amazon'] = ''
combined_df['Hulu'] = ''

In [11]:
combined_df

,Title,Year,Metacritic Rating,Netflix,Amazon,Hulu
0,Citizen Kane,1941,100,,,
1,The Godfather,1972,100,,,
2,Rear Window,1954,100,,,
3,Casablanca,1943,100,,,
4,Boyhood,2014,100,,,
5,Three Colors: Red,1994,100,,,
6,Vertigo,1958,100,,,
7,Notorious,1946,100,,,
8,Singin' in the Rain,1952,100,,,
9,Moonlight,2016,100,,,
10,Pinocchio,1940,100,,,
11,Touch of Evil,1958,100,,,
12,The Treasure of the Sierra Madre,1948,100,,,
13,Pan's Labyrinth,2006,100,,,
14,North by Northwest,1959,100,,,
15,All About Eve,1950,100,,,
16,Hoop Dreams,1994,99,,,
17,My Left Foot,1990,99,,,
18,The Third Man,1949,99,,,
19,Dr. Strangelove or: How I Learned to Stop Worr...,1964,99,,,
20,Gone with the Wind,1940,99,,,
21,"4 Months, 3 Weeks and 2 Days",2008,99,,,
22,Some Like It Hot,1959,99,,,
23,Psycho,1960,99,,,
24,American Graffiti,1973,98,,,
25,Dumbo,1941,98,,,
26,Roma,2018,98,,,
27,Ran,1985,98,,,
28,12 Angry Men,1957,98,,,
29,Manchester by the Sea,2016,98,,,
...,...,...,...,...,...,...
962,Juno,2007,86,,,
963,Elena,2014,86,,,
964,Blue Valentine,2010,86,,,
965,Truman,2017,86,,,
966,Master and Commander: The Far Side of the World,2003,86,,,
967,Four Weddings and a Funeral,1994,86,,,
968,The Secret of Kells,2010,86,,,
969,Top Five,2014,86,,,
970,Pete Seeger: The Power of Song,2007,86,,,
971,Closet Monster,2016,86,,,
972,Katyn,2009,86,,,
973,Coming Home,2015,86,,,
974,Living in Oblivion,1995,86,,,
975,Coco,2017,86,,,
976,Locke,2014,86,,,
977,Bridge of Spies,2015,86,,,
978,Driving Miss Daisy,1989,86,,,
979,Shaun the Sheep Movie,2015,86,,,
980,White Material,2010,85,,,
981,The Station Agent,2003,85,,,
982,Foxcatcher,2014,85,,,
983,Dolores,2017,85,,,
984,"Arabian Nights: Volume 2, The Desolate One",2015,85,,,
985,Twinsters,2015,85,,,
986,Beginners,2011,85,,,
987,Bamako,2007,85,,,
988,Autumn Tale,1999,85,,,
989,The China Syndrome,1979,85,,,
990,Bright Star,2009,85,,,
991,The Headless Woman,2009,85,,,

In [12]:
combined_df.to_csv(index=False, path_or_buf = "./Year_Released Title and Metacritic Rating.csv")