In [148]:
import pandas as pd

In [149]:
data = pd.read_csv("./Year_Released Title and Metacritic Rating.csv")
imdb_db = pd.read_csv('./imdb_db.csv')

In [150]:
imdb_db = imdb_db[['primaryTitle','averageRating','startYear']]
imdb_db = pd.DataFrame(imdb_db)
imdb_db.columns = ['Title','Imdb Rating','Year']

In [151]:
data.head()

   Unnamed: 0          Title  Year  Metacritic Rating
0           0   Citizen Kane  1941                100
1           1  The Godfather  1972                100
2           2    Rear Window  1954                100
3           3     Casablanca  1943                100
4           4        Boyhood  2014                100

In [152]:
data1 = data.loc[data['Year'] != 'TBA']
data1['Year'] = data1['Year'].astype(int)
data1['Year'] = data1['Year'] + 1
data1.head()

C:\Users\ Derek\anaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ Derek\anaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Unnamed: 0          Title  Year  Metacritic Rating
0           0   Citizen Kane  1942                100
1           1  The Godfather  1973                100
2           2    Rear Window  1955                100
3           3     Casablanca  1944                100
4           4        Boyhood  2015                100

In [153]:
combined1 = pd.merge(data1,imdb_db,how='inner',on = ('Title','Year'))

In [154]:
combined1

   Unnamed: 0           Title  Year  Metacritic Rating  Imdb Rating
0         425  Boys Don't Cry  2000                 90          7.6
1         595      The Circle  2002                 88          5.0
2         698        Together  2002                 87          7.4

In [155]:
data2 = data.loc[data['Year'] != 'TBA']
data2['Year'] = data2['Year'].astype(int)
data2['Year'] = data2['Year'] + 2
data2.head()

C:\Users\ Derek\anaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ Derek\anaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Unnamed: 0          Title  Year  Metacritic Rating
0           0   Citizen Kane  1943                100
1           1  The Godfather  1974                100
2           2    Rear Window  1956                100
3           3     Casablanca  1945                100
4           4        Boyhood  2016                100

In [156]:
combined = pd.merge(data2,imdb_db,how='inner',on = ('Title','Year'))

In [157]:
combined

   Unnamed: 0        Title  Year  Metacritic Rating  Imdb Rating
0          61  Taxi Driver  1978                 96          5.4
1         595   The Circle  2003                 88          5.0
2         919   The Return  2006                 86          4.8

In [158]:
data3 = data.loc[data['Year'] != 'TBA']
data3['Year'] = data3['Year'].astype(int)
data3['Year'] = data3['Year'] - 1

C:\Users\ Derek\anaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ Derek\anaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [159]:
combined3 = pd.merge(data3,imdb_db,how='inner',on = ('Title','Year'))

In [162]:
combined3.count()

Unnamed: 0           97
Title                97
Year                 97
Metacritic Rating    97
Imdb Rating          97
dtype: int64

In [163]:
data4 = data.loc[data['Year'] != 'TBA']
data4['Year'] = data4['Year'].astype(int)
data4['Year'] = data4['Year'] - 2

C:\Users\ Derek\anaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ Derek\anaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [164]:
combined4.count()

NameError: name 'combined4' is not defined