In [362]:
import pandas as pd

In [363]:
data = pd.read_csv("./Year_Released Title and Metacritic Rating.csv")
imdb_db = pd.read_csv('./imdb_db.csv')

In [364]:
imdb_db = imdb_db[['primaryTitle','averageRating','startYear']]
imdb_db = pd.DataFrame(imdb_db)
imdb_db.columns = ['Title','Imdb Rating','Year']

In [365]:
data.head()

           Title  Year  Metacritic Rating
0   Citizen Kane  1941                100
1  The Godfather  1972                100
2    Rear Window  1954                100
3     Casablanca  1943                100
4        Boyhood  2014                100

In [366]:
data_1plus = data.loc[data['Year'] != 'TBA']
data_1plus['Year'] = data_1plus['Year'].astype(int)
data_1plus['Year'] = data_1plus['Year'] + 1
data_1plus.head()

           Title  Year  Metacritic Rating
0   Citizen Kane  1942                100
1  The Godfather  1973                100
2    Rear Window  1955                100
3     Casablanca  1944                100
4        Boyhood  2015                100

In [367]:
combined_1plus = pd.merge(data_1plus,imdb_db,how='inner',on = ('Title','Year'))

In [368]:
combined_1plus.count()

Title                3
Year                 3
Metacritic Rating    3
Imdb Rating          3
dtype: int64

In [369]:
data_2plus = data.loc[data['Year'] != 'TBA']
data_2plus['Year'] = data_2plus['Year'].astype(int)
data_2plus['Year'] = data_2plus['Year'] + 2
data_2plus.head()

           Title  Year  Metacritic Rating
0   Citizen Kane  1943                100
1  The Godfather  1974                100
2    Rear Window  1956                100
3     Casablanca  1945                100
4        Boyhood  2016                100

In [370]:
combined_2plus = pd.merge(data_2plus,imdb_db,how='inner',on = ('Title','Year'))

In [371]:
combined_2plus.count()

Title                3
Year                 3
Metacritic Rating    3
Imdb Rating          3
dtype: int64

In [372]:
data_3plus = data.loc[data['Year'] != 'TBA']
data_3plus['Year'] = data_3plus['Year'].astype(int)
data_3plus['Year'] = data_3plus['Year'] + 3
data_3plus.head()

           Title  Year  Metacritic Rating
0   Citizen Kane  1944                100
1  The Godfather  1975                100
2    Rear Window  1957                100
3     Casablanca  1946                100
4        Boyhood  2017                100

In [373]:
combined_3plus = pd.merge(data_3plus,imdb_db,how='inner',on = ('Title','Year'))

In [374]:
combined_3plus.count()

Title                0
Year                 0
Metacritic Rating    0
Imdb Rating          0
dtype: int64

In [375]:
data_4plus = data.loc[data['Year'] != 'TBA']
data_4plus['Year'] = data_4plus['Year'].astype(int)
data_4plus['Year'] = data_4plus['Year'] + 4
data_4plus.head()

           Title  Year  Metacritic Rating
0   Citizen Kane  1945                100
1  The Godfather  1976                100
2    Rear Window  1958                100
3     Casablanca  1947                100
4        Boyhood  2018                100

In [376]:
combined_4plus = pd.merge(data_4plus,imdb_db,how='inner',on = ('Title','Year'))

In [377]:
combined_4plus.count()

Title                1
Year                 1
Metacritic Rating    1
Imdb Rating          1
dtype: int64

In [378]:
data_5plus = data.loc[data['Year'] != 'TBA']
data_5plus['Year'] = data_5plus['Year'].astype(int)
data_5plus['Year'] = data_5plus['Year'] + 4
data_5plus.head()

           Title  Year  Metacritic Rating
0   Citizen Kane  1945                100
1  The Godfather  1976                100
2    Rear Window  1958                100
3     Casablanca  1947                100
4        Boyhood  2018                100

In [379]:
combined_5plus = pd.merge(data_5plus,imdb_db,how='inner',on = ('Title','Year'))

In [380]:
combined_5plus.count()

Title                1
Year                 1
Metacritic Rating    1
Imdb Rating          1
dtype: int64

In [381]:
data_1minus = data.loc[data['Year'] != 'TBA']
data_1minus['Year'] = data_1minus['Year'].astype(int)
data_1minus['Year'] = data_1minus['Year'] - 1

In [382]:
combined_1minus = pd.merge(data_1minus,imdb_db,how='inner',on = ('Title','Year'))

In [383]:
combined_1minus.count()

Title                97
Year                 97
Metacritic Rating    97
Imdb Rating          97
dtype: int64

In [384]:
data_2minus = data.loc[data['Year'] != 'TBA']
data_2minus['Year'] = data_2minus['Year'].astype(int)
data_2minus['Year'] = data_2minus['Year'] - 2

In [385]:
combined_2minus = pd.merge(data_2minus,imdb_db,how='inner',on = ('Title','Year'))

In [386]:
combined_2minus.count()

Title                13
Year                 13
Metacritic Rating    13
Imdb Rating          13
dtype: int64

In [387]:
data_3minus = data.loc[data['Year'] != 'TBA']
data_3minus['Year'] = data_3minus['Year'].astype(int)
data_3minus['Year'] = data_3minus['Year'] - 3

In [388]:
combined_3minus = pd.merge(data_3minus,imdb_db,how='inner',on = ('Title','Year'))

In [389]:
combined_3minus.count()

Title                3
Year                 3
Metacritic Rating    3
Imdb Rating          3
dtype: int64

In [390]:
data_4minus = data.loc[data['Year'] != 'TBA']
data_4minus['Year'] = data_4minus['Year'].astype(int)
data_4minus['Year'] = data_4minus['Year'] - 4

In [391]:
combined_4minus = pd.merge(data_4minus,imdb_db,how='inner',on = ('Title','Year'))

In [392]:
combined_4minus.count()

Title                9
Year                 9
Metacritic Rating    9
Imdb Rating          9
dtype: int64

In [393]:
data_5minus = data.loc[data['Year'] != 'TBA']
data_5minus['Year'] = data_5minus['Year'].astype(int)
data_5minus['Year'] = data_5minus['Year'] - 5

In [394]:
combined_5minus = pd.merge(data_5minus,imdb_db,how='inner',on = ('Title','Year'))

In [395]:
combined_5minus.count()

Title                5
Year                 5
Metacritic Rating    5
Imdb Rating          5
dtype: int64

In [398]:
near_matches = [combined_1plus,combined_2plus,combined_3plus,combined_4plus,combined_5plus,combined_1minus,combined_2minus,combined_3minus,combined_4minus,combined_5minus]

In [401]:
near_matches_df = pd.concat(near_matches)
near_matches_df.reset_index(drop=True)

In [405]:
near_matches_df.to_csv

                               Title  Year  Metacritic Rating  Imdb Rating
0                     Boys Don't Cry  2000                 90          7.6
1                         The Circle  2002                 88          5.0
2                           Together  2002                 87          7.4
3                        Taxi Driver  1978                 96          5.4
4                         The Circle  2003                 88          5.0
5                         The Return  2006                 86          4.8
6                         The Circle  2005                 88          5.8
7                         The Circle  2005                 88          5.8
8                         Casablanca  1942                100          8.5
9                       My Left Foot  1989                 99          7.9
10                Gone with the Wind  1939                 99          8.2
11                     Spirited Away  2001                 97          8.6
12   Snow White and the Seven Dwarfs  1937                 96          7.6
13                       The Servant  1963                 96          7.9
14                             Crumb  1994                 95          8.0
15                           Platoon  1986                 95          8.1
16            Werckmeister Harmonies  2000                 94          8.2
17       Atanarjuat: The Fast Runner  2001                 94          7.5
18                        After Life  1998                 94          7.7
19                 The African Queen  1951                 94          7.9
20                   The Ladykillers  1955                 94          7.8
21                        The Circus  1928                 93          8.1
22                     Force of Evil  1948                 92          7.4
23             It's a Wonderful Life  1946                 92          8.6
24                          Deep Red  1975                 92          7.7
25                 Y Tu Mamá También  2001                 91          7.7
26                            Tulpan  2008                 91          7.1
27                          Time Out  2001                 91          7.4
28                      Nobody Knows  2004                 91          8.1
29                     Life Is Sweet  1990                 91          7.5
..                               ...   ...                ...          ...
105                         Maborosi  1995                 94          7.6
106               My Voyage to Italy  1999                 93          8.3
107                The Best of Youth  2003                 92          8.5
108       Springtime in a Small Town  2002                 89          7.0
109                          Offside  2005                 89          6.8
110                         Harakiri  1962                 88          8.7
111                             Hero  2002                 88          7.9
112                          Distant  2002                 88          7.7
113                      Tell No One  2006                 86          7.5
114                 Winged Migration  2001                 86          8.0
115               Memories of Murder  2003                 86          8.1
116             The Twilight Samurai  2002                 86          8.1
117           Merci pour le Chocolat  2000                 86          6.7
118                      Taxi Driver  1973                 96          6.4
119                       Cinderella  1947                 88          7.7
120                       Taxidermia  2006                 87          7.0
121             Beauty and the Beast  1987                 97          6.2
122                    Almost Famous  1996                 93          7.2
123                        El Dorado  1963                 89          6.7
124                  Sleeping Beauty  1955                 89          7.1
125                          The Sun  2005                 88          7.4
126                            Venus  2002                 86          7.0
127                  The Illusionist  2006                 86          7.6
128                            Sugar  2005                 86          5.0
129                         The Maid  2005                 86          5.8
130                            Sugar  2004                 86          5.5
131                            Sugar  2004                 86          5.5
132                          Requiem  2001                 86          5.2
133                          Requiem  2001                 86          6.7
134                          Requiem  2001                 86          5.5

[135 rows x 4 columns]