In [8]:
#import dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser

In [9]:
#set up splinter to use Chrome
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

In [10]:
#visit metacritic page with splinter
url = 'https://www.metacritic.com/browse/movies/score/metascore/all/filtered'
browser.visit(url)

In [11]:
#use Beautiful Soup to collect titles

years = []


for x in range(1, 11):

    html = browser.html
    soup = bs(html, 'html.parser')
    stuff = soup.find_all('div', class_="clamp-details")
    
    for x in range(0,100):
        
        thing = stuff[x].find_all('span')[1].text[-4:]
        years.append(thing)
        

    browser.click_link_by_partial_text('next')

In [12]:
movies_df = pd.DataFrame(years)
movies_df

        0
0    1941
1    1972
2    1954
3    1943
4    2014
5    1994
6    1958
7    1946
8    1952
9    2016
10   1940
11   1958
12   1948
13   2006
14   1959
15   1950
16   1994
17   1990
18   1949
19   1964
20   1940
21   2008
22   1959
23   1960
24   1973
25   1941
26   2018
27   1985
28   1957
29   2016
..    ...
970  2017
971  2003
972  1994
973  2010
974  2014
975  2007
976  2016
977  2009
978  2015
979  1995
980  2017
981  2014
982  2015
983  1989
984  2015
985  2019
986  2010
987  2003
988  2014
989  2017
990  2015
991  2015
992  2011
993  2007
994  1999
995  1979
996  2009
997  2009
998  1978
999  2018

[1000 rows x 1 columns]

In [15]:
years_df.to_csv(index=True, path_or_buf = "./Year_Released")